<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.PatternLayout"/>
    <import class="ch.qos.logback.core.encoder.LayoutWrappingEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="LayoutWrappingEncoder">
            <layout class="PatternLayout">
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%5level] %m\n</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>