.root {
    -fx-font-size: 10pt;
}

.padded {
    -fx-padding: 5pt;
}

#checksumTable .table-column {
    -fx-alignment: CENTER;
}

.table-column.numeric {
    -fx-alignment: CENTER_RIGHT !important;
}

#checksumTable .table-cell {
    -fx-font-family: 'Consolas', monospace
}

#computed.table-cell.mismatched {
    -fx-font-weight: bold
}